@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AppView</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-primary" href="@Url.Action("Index", "ThucAn")">View Thuc An List</a>
</div>
